<footer class="fixed-bottom bg-purple p-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4 text-center">
                github/#
            </div>
        </div>
    </div>
</footer>