
@{
    Layout = "_Layout";
}


<h2>Панель администратора</h2>
<p>
    <a asp-controller="Account" asp-action="Logout">Выйти</a>
</p>
<p>
    <a asp-controller="Home" asp-action="Index">На главную</a>
</p>

@await Html.PartialAsync("AddNewFactPartial")
