<!doctype html>
<html lang="en">
    <head>
        @await Html.PartialAsync("CssPartial")
        @await Html.PartialAsync("ScriptsPartial")
        @await Html.PartialAsync("HeadPartial")
    </head>

    <body>
          <main>
              @RenderBody()
          </main>

    </body>
</html>
