<footer class="fixed-bottom bg-purple p-1">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-4 text-center">
                github/#
            </div>
            <div class="col-4 text-end">
                <a class="unnoticeable-link" asp-controller="Admin" asp-action="Index">Вход</a>
            </div>
        </div>
    </div>
</footer>