@{
    Layout = "_Layout";
}


<h2 id="fact-id"></h2>
<h2 id="fact-text"></h2>
<button onclick="showNextFact()">Ещё</button>

<p>
    <a asp-controller="Admin" asp-action="Index">Админ-панель</a>
</p>
